<% layout('layouts/boilerplate') %>

<%- include('partials/navbar') %>

<style>
    .title{
    text-align: center;
    font-size: 5rem;
    padding-top: 1.5rem;
    font-weight: 600;
    color: var(--color3);
    }

    .search-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 5rem;
    background: #1C2541;
    padding: 1rem;
    border-radius: 2rem;
    color: #fff;
    margin: 0 auto;
    margin-top: 5rem;
    } 

    #search{
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: #1C2541;
    color: #fff;
    }

    #search::placeholder{
    color: #6FFFE9;
    font-size: 1rem;
    opacity: 0.7;
    }

    .fa:hover{
    color: #FFFF00;
    }

    #container{
        background-image: url('https://cdn.pixabay.com/photo/2016/08/01/16/18/raspberries-1561457_640.jpg');
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
    }

    .cross{
        padding-right: 2px;
    }

    .cross:hover{
        cursor: pointer;
    }

    #none{
        font-size: 2rem; 
        text-align: center;
        margin: 5px;
        font-weight: 900;
    }
</style>

<div id="container">
    <div class="title">Find a Recipe</div>
    <div class="search-wrapper">
        <div class="fa fa-search"></div>
        <input
            type="text"
            name=""
            id="search"
            placeholder="What do you want to eat?"
            onkeyup="search()"
        />
        <div class="cross" onclick="clearInput()">❌</div>
    </div>
</div>


<div class="row" style="margin: 0px;">
    <h1>Recipes</h1>
    <div id="recipes">
        <p id="none" style="display: none">
            Sorry, The food you were looking for is not available.
        </p>
        <% for(let item of recipes){ %>
            <div class="col-lg-4 hello">
                <div class="card shadow mx-auto mt-2 mb-3" style="width: 18rem;">
                    <img src="<%= item.img %>" class="card-img-top" alt="recipeImage">
                    <div class="card-body">
                      <h3 class="card-title"><%= item.name %></h3>
                      <a href="/recipes/<%= item._id %>" class="btn btn-warning">View Recipe</a>
                      <% if(currentUser && currentUser.post == 'chef'){ %>
                        <a href="/<%= item._id %>/edit" class="btn btn-primary">Edit</a>
                        <form class="d-inline-block" action="/<%= item._id %>?_method=delete" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                      <% } %>
                    </div>
                </div>
            </div>
                
        <% } %>
    </div>
</div>


<script>
    const search = ()=>{
        const searchBox = document.getElementById('search').value.toUpperCase() ;
        const storeRecipes = document.getElementById('recipes') ;
        const recipes = document.querySelectorAll('.hello') ;
        const recipesName = storeRecipes.getElementsByTagName('h3') ;

        let found = false ;

        for(let i=0; i<recipesName.length; i++){
            let match = recipes[i].getElementsByTagName('h3')[0] ;
            
            if(match){
                let val = match.textContent || match.innerHTML ;
                
                if(val.toUpperCase().indexOf(searchBox) > -1){
                    recipes[i].style.display = "" ;
                    found = true ;
                } else{
                    recipes[i].style.display = "none" ;
                }
            }
        }

        if(found === false) {
            document.getElementById('none').style.display = "" ;
        }

    }

    const clearInput = ()=>{
        document.getElementById('search').value = "" ;
    }
</script>